
h1{
    color: rgb(213, 11, 11);
    text-align: center;
    background-color: aquamarine;
    padding: 7px;
    font-family: Montserrat ,sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50px;
}
body{
    text-align: center;
    background-image: url("fondo-tecnologia-digital-alambre-malla-red_1017-27428.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
   
img{

    padding: 5px;
    background-color: brown;
    height: 500px;
    width: 500px;
    border-radius: 50%;
}
#resultado{
    text-align: center;
/*Esto hace que el navegador interprete los saltos de línea*/
    white-space: pre-line;
    color: black;
}
#resultado2{
    color: black;
}
#valorcomida{
    color: black;
}
#r4{
    color: red;
    
    padding: 5px;
}
#r2{
    color: blue;
}
button{
    background: rgb(163, 121, 121);
    color: rgb(0, 0, 0);
    padding: 10px 2px;
    border-radius: 5px;
    cursor: pointer;}
}
input{
    background-color: aquamarine;
}
.tarjeta {
  width: 400px;
  margin: 50px auto;
  background: #ffffff;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  text-align: center;}
.tarjeta2{
    width: 400px;
    margin: 50px auto;
    background: #ffffff;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    text-align: center;}

.tarjeta3{
    width: 400px;
    margin: 50px auto;
    background: #ffffff;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    text-align: center
    
}